body {
  background-image: linear-gradient(
    to right,
    #6531bd,
    #7878f5,
    #699cfd,
    #82e1ff
  );
}

.Weather {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #dadde1;
  padding: 16px;
  margin: 30px auto;
  max-width: 600px;
  border-radius: 5px;
  border-color: #5d56a8;
  color: #ffffff;
  background-color: #5d56a8;
  opacity: 90%;
}

.Weather h1 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
  text-align: left;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  text-align: left;
  list-style: none;
}

.Weather canvas {
  float: left;

  margin-right: 5px;
  margin-top: 15px;
  display: inline-block;
}

span {
  float: left;
  margin-top: 10px;
}

.Weather .temperature {
  font-weight: bold;
  color: #ffffff;
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
}

.Weather .unit {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
}
